/* Reset default margin and padding */
body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* Navbar styles */
.navbar {
  background-color: #2e2d30;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 1000; /* Ensures the navbar stays on top */
}

.logo-container {
  flex: 0 0 auto;
}

.logo {
  width: 120px;
  cursor: pointer;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu li {
  margin-left: 20px;
}

.menu li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  transition: color 0.3s ease;
}

.menu li a:hover {
  color: #009688;
}

/* Banner styles */
.banner {
  padding: 120px 20px 20px;
  text-align: center;
  margin-top: 80px; /* Ensures content is below fixed navbar */
}

.banner .content {
  color: blue;
}

.banner h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

.banner p {
  line-height: 1.6;
}

.button-container {
  margin-top: 20px;
  height: 50px;
  width: 40px;
}

.button-container button {
  margin: 10px;
  padding: 10px 20px;
  border: 2px solid #009688;
  background-color: transparent;
  color: #009688;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.button-container button:hover {
  background-color: #009688;
  color: white;
}

/* Row and Column layout */
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.column {
  flex: 0 0 calc(33.33% - 20px);
  max-width: calc(33.33% - 20px);
  padding: 10px;
  text-align: center;
}

.responsive-image {
  width: 100%;
  height: auto;
}

/* Video styles */
.video {
  margin-top: 40px;
  text-align: center;
  height: 150px;
  width: 200px;
}

.video video {
  max-width: 500px;
  height: 300px;
}

/* Footer styles */
footer {
  background-color: #5e5b5b;
  padding: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}
